<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>ZealId homework</title>
</head>
<style>
body {
  background-color: linen;
}

section {
  color: maroon;
  margin: 20px;
  padding: 20px;
  background-color: gold;
}
section section {
  color: maroon;
  margin: 20px;
  padding: 5px;
  background-color: yellow;
}
header {
    padding: 20px;
}
</style>

<body>
  <header>
    <div>ZealId homework - Pēteris Ratnieks</div>
    <nav>  
      <ul>
        <li><a href="/">home</a>
      </ul>
    </nav>
  </header>
  {% block body %}{% endblock %}
</body>
